#iconssection div{
    background-color: darkmagenta;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#iconssection div:nth-child(1) div:nth-child(1){
    display: inline-block;
    width: 120px;
    height: 177px;
    background-color: gold;
}

#iconssection div:nth-child(1) div:nth-child(2){
    display: inline-block;
    width: 212px;
    height: 177px;
    background-color: green;
}

#iconssection div:nth-child(1) div:nth-child(3){
    display: inline-block;
    width: 134px;
    height: 177px;
    background-color: darkcyan;
}

#iconssection div:nth-child(2) div:nth-child(1){
    display: inline-block;
    width: 299px;
    height: 177px;
    background-color: darkolivegreen;
}

#iconssection div:nth-child(2) div:nth-child(2){
    display: inline-block;
    width: 340px;
    height: 177px;
    background-color: rgb(128, 110, 207);
}

#iconssection div:nth-child(3) div{
    display: inline-block;
    width: 120px;
    height: 177px;
    background-color: darkorange;
}

@media only screen and (max-width: 730px){
    #iconssection div{
        flex-direction: column;
        align-items: center;
    }

    #iconssection div div{
        margin: 16px 0 16px 0;
    }
}