.centersection{
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
}

.centersection:nth-child(2) div:nth-child(1){
    width: 179px;
    height: 345px;
}

.centersection:nth-child(2) div:nth-child(2){
    width: 201px;
    height: 378px;
}

.centersection:nth-child(2) div:nth-child(3){
    width: 167px;
    height: 349px;
}

.centersection:nth-child(4) div:nth-child(1),.centersection:nth-child(4) div:nth-child(2),.centersection:nth-child(4) div:nth-child(3){
    width: 180px;
    height: 180px;
}

.centersection div picture{
    display: block;
    
}

.centersection div h4{
    font-size: 24px;
}

@media only screen and (max-width: 600px){
    .centersection{
        flex-direction: column;
        align-items: center;
    }

    .centersection div{
        margin: 16px 0 16px 0;
    }
}